<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    *{
        margin: 0;
        padding: 0;
    }
    header{
        height: 20px;
        background-color: red;
    }
    nav{
        height: 40px;
        background-color: yellow;
    }
    footer{
        height: 60px;
        background-color: black;
    }
</style>
<body>
<header class="hd"></header>
<nav></nav>
<footer></footer>
<articel><a href="#">点击我试试</a></articel>
<input type="range" value="50" name="datetime">
<input type="text" list="star" placeholder="请输入明星">
<datalist id="star">
    <option value="张三丰">
    <option value="张无忌">
    <option value="张九人">
    <option value="刘备">
    <option value="刘婵">
    <option value="黄牛">
</datalist>

<fieldset>
    <legend>Personalia:</legend>
    Name: <input type="text" /><br />
    Email: <input type="text" /><br />
    Date of birth: <input type="text" />
</fieldset>

<input type="file" multiple>

<input type="text" accesskey="s">
</body>
</html>