<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../static/js/iconfont.js"></script>
    <!--图标-->
    <link rel="shortcut icon" href="favicon.ico"/>
</head>
<style>

/*    span{
        display: inline-block;
        background: url("../../static/images/abcd.jpg") no-repeat;
        width: 104px;
        height: 111px;
    }*/
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    font-size: 200px;
}
    .ss{
        background-position: -255px -418px;
    }
    .jj{
        background-position: -387px -139px;
    }
</style>
<body>
<span class="ss"></span>
<span class="jj"></span>
<svg class="icon" aria-hidden="true"><use xlink:href="#icon-caihong"></use></svg>
<svg class="icon" aria-hidden="true"><use xlink:href="#icon-manyue"></use></svg>
<svg class="icon" aria-hidden="true"><use xlink:href="#icon-qingtian"></use></svg>
<svg class="icon" aria-hidden="true"><use xlink:href="#icon-jubuduoyun"></use></svg>
<svg class="icon" aria-hidden="true"><use xlink:href="#icon-dollar"></use></svg>
</body>
</html>